@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Authentication status: </p>
@if (Context.Session.GetString("Name") != null)
{
<div class="alert alert-success">
        <div class="display-6"> Name: @Context.Session.GetString("Name")</div>
</div>    
}

